apiVersion: apps/v1
kind: Deployment
metadata:
  name: $APP_NAME-deployment
  namespace: $APP_NAMESPACE
  labels:
    app: $APP_NAME
  namespace: dev
spec:
  replicas: 3
  selector:
    matchLabels:
      app: $APP_NAME
  template:
    metadata:
      labels:
        app: $APP_NAME
    spec:
      imagePullSecrets:
      - name: aws-registry-key
      containers:
      - name: $APP_NAME
        image: $AWS_ECR_IMAGE_NAME:$IMAGE_NAME
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
         - name: DB_USER
           valueFrom:
             secretKeyRef:
               name: mysql-secret
               key: db_user
         - name: DB_PWD
           valueFrom:
             secretKeyRef:
               name: mysql-secret
               key: db_pwd
         - name: DB_NAME
           valueFrom:
             secretKeyRef:
               name: mysql-secret
               key: db_name
         - name: DB_SERVER
           valueFrom:
             configMapKeyRef:
              name: mysql-config
              key: mysql_server
---
apiVersion: v1
kind: Service
metadata:
  name: my-app-service
  namespace: $APP_NAMESPACE
spec:
  selector:
    app: $APP_NAME
  ports:
  - protocol: TCP
    targetPort: 8080
    port: 8080